<div>
    <div class="modal-header stick">
    <button type="button" class="btn btn-default pull-right" data-ng-click="$close()"><i class="fa fa-times"></i></button>
        <h3>Recent Commits for {{repo.full_name}}</h3>

        
    </div>
    <div class="modal-body">

        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search" >
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input ng-model="filterText" type="text" class="form-control" placeholder="Search Commits">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <accordion data-ng-if="!repo.noCommits" close-others="true">
                    <accordion-group heading="{{commit.commit.message}}"  data-ng-repeat="commit in repo.commits | filter:filterText">
                        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                            <span class="wrap">Author Email: {{commit.commit.author.email}}</span>
                            <hr />
                            <span class="wrap">Author Name: {{commit.commit.author.name}}</span>
                            <hr />
                            <span><i class="fa fa-clock-o"></i> {{commit.commit.author.date}}</span>
                            
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 col-sm-offset-0 col-lg-offset-0 col-md-offset-0" data-ng-show="commit.author.avatar_url">
                            <a href="http://github.com/{{commit.committer.login}}" target="_blank">View Committer<img data-ng-src="{{commit.author.avatar_url}}" class="img-responsive" alt="Image"></a>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                            <a href="{{commit.html_url}}" target="_blank">
                                View the Commit
                                <i class="fa fa-eye fa-4"></i>
                            </a>
                        </div>
                    </accordion-group>
                </accordion>
                <div data-ng-if="repo.noCommits">
                    <p class="text-center">
                        Sorry, there are no commits available for this repository.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>