<div>
    <div class="modal-header">
    <button type="button" class="btn btn-default pull-right" data-ng-click="$close()"><i class="fa fa-times"></i></button>
        <h3>How to get started!</h3>
    </div>
    <div class="modal-body">

        <div class="row" >
            <ol>
                <li>Press the auth to github button</li>
                <li>On the top of the main page, type the name of the orginazation you want to view</li>
                <li>Press the Search Button</li>
            </ol>
        </div>
    </div>
</div>