<div class="panel panel-default effect1 " data-ng-controller="ControlpanelCtrl">
          <div class="panel-header">
            <span>Control Panel <button type="button" class="btn btn-default" data-ng-click="toggleControl()"><i class="fa fa-eye"></i></button></span>
          </div>
          <div data-ng-hide="hideControl" class="panel-body">
            <div class="text-left">
              <form>
                <span>Sort By:</span>
                <div data-ng-repeat="thing in control.orderList">
                 
                  <input id="{{thing.value}}"class="radio" data-ng-model="control.order.value" data-ng-change="updateOrder()" type="radio" data-ng-value="thing.value">
                  <label for="{{thing.value}}">{{thing.value}}</label>
                </div>
                Ascending:

                <button data-ng-init="switchAscend()" type="button" class="btn btn-default" data-ng-click="switchAscend()"><i class="fa fa-sort-amount-asc"></i> {{control.ascend}} </button>  
                <hr />
                <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input data-ng-model="control.filterText" type="text" class="form-control" placeholder="Search Repos">
                </div>
                <hr />
                <button type="button" class="btn " data-ng-class="{ 'btn-danger':!authed,'btn-success':authed}" tooltip-placement="bottom" tooltip="Make sure Pop Ups are Enabled!"   data-ng-click="auth()">Auth to Github <i class="fa fa-github"></i></button>
                <hr />
                <button type="button" class="btn btn-default" data-ng-click="openHelp()">Need Help <i class="fa fa-question"></i> </button>
              </form>
            </div>
          </div>
        </div>