<div class="container">
  <div class="row" data-ng-controller="listCtrl">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

    <div class="jumbotron netflix">
      <div class="container">
         <p class="headerText">Auth to github on the right, click the text below to change your organization.</p>
         <input data-ng-model="org" type="text" class="invisiform" placeholder="Type Here To Search" ui-keypress="{13:'keypressCallback(newOrg())'}" >

         <br />
         <p class="headerText">Press Enter to Search</p>
        <hr />
        
      </div>
    </div>

      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-left">

          
        </div>
      </div>
      
      <div class="control">
        <div class="visible-lg" data-ng-include="'/views/controlPanel.html'">
      
        </div>
      </div>
    </div>        
    <div class="row">
      <br />
    </div>

    <div class="hidden-lg" data-ng-include="'/views/controlPanel.html'">
      
    </div>


    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center " data-ng-repeat="repo in list | orderBy:control.order.value:control.ascend | filter:filterText">

      
      <div class="row">
        <div class="panel panel-default effect1">
          <div class="panel-header">
            <h3>{{repo.full_name}}</h3>
          </div>
          <div class="panel-body">
             <p>{{repo.description}}</p>
             <button type="button" class="btn btn-default" data-ng-click="openCommit(repo);"> <i class="fa fa-eye"></i> View Recent Commits</button>
             <button type="button" class="btn btn-default" data-ng-click="openContrib(repo);"> <i class="fa fa-users"></i> View Contributers</button>
          </div>
          <div class="panel-footer">
            <span class="badge"><i class="fa fa-code-fork"></i> {{repo.forks}} </span>
            <span class="badge"> Rating: <rating value="repo.ranking" readonly="true"></rating>  </span>
            <span class="badge"><i class="fa fa-star">{{repo.stargazers_count}}</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>