<div class="container">
  <div class="row" data-ng-controller="listCtrl">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

    <div class="jumbotron netflix">
      <div class="container">
        <h1>{{org}} Repositories!</h1>
        <hr />
        
      </div>
      <div class="input-group">
          <span>Change your Organization: </span>
          <span class="input-group-addon" data-ng-click="newOrg()" ><i class="fa fa-search"></i></span>
          <input data-ng-model="org" type="text" class="form-control" placeholder="Search Organizations" ui-keyup="{13:newOrg()}" >

        </div>
    </div>

      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-left">

          
        </div>
      </div>
      
      <div class="control">
        <div class="panel panel-default effect1 visible-lg ">
          <div class="panel-header">
            <span>Control Panel</span>
          </div>
          <div class="panel-body">
            <div class="text-left">
              <form>
                <span>Sort By:</span>
                <div data-ng-repeat="thing in orderList">
                  <input data-ng-model="$parent.order" type="radio" name="sex" data-ng-value="thing.value" >
                  {{thing.name}}
                </div>
                Ascending:
                <button data-ng-init="switchAscend()" type="button" class="btn btn-default" data-ng-click="switchAscend()"><i class="fa fa-sort-amount-asc"></i> {{ascend}} </button>  
                <hr />
                <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input data-ng-model="filterText" type="text" class="form-control" placeholder="Search Repos">
                </div>
                <hr />
                <button type="button" class="btn btn-default" data-ng-click="auth()">Auth to Github <i class="fa fa-github"></i></button>
                <hr />
                <button type="button" class="btn btn-default" data-ng-click="openHelp()">Need Help <i class="fa fa-question"></i> </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>        
    <div class="row">
      <br />
    </div>
    <div class="panel panel-default effect1 hidden-lg ">
          <div class="panel-header">
            <span>Control Panel</span>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <form>
                <span>Sort By</span>
                <div data-ng-repeat="thing in orderList">
                  <input data-ng-model="$parent.order" type="radio" name="sex" data-ng-value="thing.value" >
                  {{thing.name}}
                </div>
                <button data-ng-init="switchAscend()" type="button" class="btn btn-default" data-ng-click="switchAscend()"><i class="fa fa-sort-amount-asc"></i>Ascending: {{ascend}} </button>  

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input data-ng-model="filterText" type="text" class="form-control" placeholder="Search Commits">
                </div>
              </form>
            </div>
          </div>
        </div>
    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center " data-ng-repeat="repo in list | orderBy:order | filter:filterText">

      
      <div class="row">
        <div class="panel panel-default effect1">
          <div class="panel-header">
            <h3>{{repo.full_name}}</h3>
          </div>
          <div class="panel-body">
             <p>{{repo.description}}</p>
             <button type="button" class="btn btn-default" data-ng-click="openCommit(repo);"> <i class="fa fa-eye"></i> View Recent Commits</button>
             <button type="button" class="btn btn-default" data-ng-click="openContrib(repo);"> <i class="fa fa-users"></i> View Contributers</button>
          </div>
          <div class="panel-footer">
            <span class="badge"><i class="fa fa-code-fork"></i> {{repo.forks}} </span>
            <span class="badge"> Rating: <rating value="repo.ranking" readonly="true"></rating>  </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>